
Body {
    background-color: beige !important;
}

.button {
    text-decoration: none !important;
    color: #4b5e3e !important;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
  }

.button:hover{
    color: #013f01 !important;
    text-decoration: none;
  }


.first-btn{
    position: absolute;
    right: 0px !important;
}

.mid1-btn{
    position: absolute;
    right: 0px;
}

.mid2-btn{
    position: absolute;
    left: 0px;
}

.last-btn{
    position: absolute;
    left: 0px !important;
}

.plant-img{
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.text-background{
    display: inline-block;

    background-color: rgba(7, 56, 0, 0.2);
    color: rgb(251, 255, 234,1);

    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.centered-text{
    color: white;
    font-size: 25px;
}


.thumbnail {
    position: relative;
    display: inline-block;
}

.caption {
    position: absolute;
    left: 0%;
    width: 100%;

}

.quote {
    font-size: 32px;
    text-align: center;
    color: rgb(0, 53, 0);
}

@media only screen and (min-width: 780px) {
    .dep-pos{
        top: 40%
    }
    .dep-text{
        font-size: 31px !important;
    }
    .button{
        font-size: 25px !important;
    }
    
}
