
Body {
    background-color: beige !important;
}

#big-text{
    font-size: 32px !important;
}

.button {
    text-decoration: none !important;
    color: #4b5e3e !important;
    font-size: 30px !important;
    /*font-family: 'Times New Roman', Times, serif;*/
  }

#disabled-button {
    text-decoration: none !important;
    color: #4b5e3e !important;
    font-size: 30px !important;
    cursor: default;
}

.button:hover{
    color: #013f01 !important;
    text-decoration: none;
  }

.profound{
    text-align: center;
    font-style: italic;
    /*font-family: 'Times New Roman', Times, serif;*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.first-btn{
    position: absolute;
    right: 0px !important;
}

.mid1-btn{
    position: absolute;
    right: 0px;
}

.mid2-btn{
    position: absolute;
    left: 0px;
}

.last-btn{
    position: absolute;
    left: 0px !important;
}

.plant-img{
    display: block;
    position: fixed;
    bottom: 0px;
    right: 0px;
    max-width: 50%;
    max-height: 50%;
    /*height: auto;*/
}

.img-area{
    width: auto;
    text-align: center;
    padding: 20px;
}

.text-background{
    display: inline-block;

    background-color: rgba(7, 56, 0, 0.2);
    color: rgb(251, 255, 234,1);

    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.centered-text{
    color: white;
    font-size: 25px;
}


.thumbnail {
    position: relative;
    display: inline-block;
}

.caption {
    position: absolute;
    left: 0%;
    width: 100%;

}

.quote {
    font-size: 32px;
    text-align: center;
    color: rgb(0, 53, 0);
}


@media only screen and (min-width: 768px){
    .dep-pos{
        top: 40%
    }
    .dep-text{
        font-size: 31px !important;
    }
    .button{
        font-size: 35px !important;
    }
    #disabled-button{
        font-size: 35px !important;
    }
}

@media (max-height: 800px) {
    .plant-img {
      /*display: none !important;*/
      max-height: 43% !important;
    }
}

@media (max-height: 600px) {
    .plant-img {
      display: none !important;
    }
}